.col-center {
  text-align: center;
}

.col-right {
  text-align: right;
}

@media all and (max-width: 660px) {

  .col {
    width: 100%;
  }
  
  .col:empty {
    height: 0px;
  }
 
}

@media all and (min-width: 661px) {
  
  .row {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
  }
  
  .row-reverse {
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
  }
  
  .row-wrap {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
  
  .ie9 .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .ie9 .row .col {
    float: left;
    min-height: 1px;
  }
  
  .ie9 .row-reverse .col:first-child {
    float: right;
  }
  
  .ie9 .row-reverse .col:last-child {
    float: left;
  }
  
  .ie9 .row-reverse .col:empty {
    display: none;
  }

  header section.row,
  main section.row,
  footer section.row {
    width: 90%;
    margin: auto;
  }
  
  .col-1 {
    width: 6.25%;
  }
  .col-2 {
    width: 12.5%;
  }
  .col-3 {
    width: 18.75%;
  }
  .col-4 {
    width: 25%;
  }
  .col-5 {
    width: 31.25%;
  }
  .col-6 {
    width: 37.5%;
  }
  .col-7 {
    width: 43.75%;
  }
  .col-8 {
    width: 50%;
  }
  .col-9 {
    width: 56.25%;
  }
  .col-10 {
    width: 62.5%;
  }
  .col-11 {
    width: 68.75%;
  }
  .col-12 {
    width: 75%;
  }
  .col-13 {
    width: 81.25%;
  }
  .col-14 {
    width: 87.5%;
  }
  .col-15 {
    width: 93.75%;
  }
  .col-16 {
    width: 100%;
  }

  .padding-10 {
    padding-left:10px;
    padding-right:10px;
  }
  
}

@media all and (min-width: 961px) {

  header section.row,
  main section.row,
  footer section.row {
    width: 912px;
  }
 
}

@media all and (min-width: 361px) and (max-width: 460px) {

  

}

@media all and (min-width: 461px) and (max-width: 560px) {
  
}

@media all and (min-width: 561px) and (max-width: 660px) {
  
}

@media all and (min-width: 661px) and (max-width: 760px) {
  
  .col-sm-1 {
    width: 15%;
  }
  
  .col-sm-14 {
    width: 70%;
  }
  
}

@media all and (min-width: 761px) and (max-width: 860px) {
  
  .col-sm-1 {
    width: 20%;
  }
  
  .col-sm-14 {
    width: 60%;
  }
  
}

@media all and (min-width: 861px) and (max-width: 960px) {
  
  .col-sm-1 {
    width: 20%;
  }
  
  .col-sm-14 {
    width: 60%;
  }
  
}